@import url("https://fonts.googleapis.com/css?family=Handlee");
@import url("https://fonts.googleapis.com/css?family=Dancing+Script");
@import url("https://fonts.googleapis.com/css?family=Handlee");


body{background-color:#87CEEB}
#P1{
background-image:url("http://creativity103.com/collections/Paper/fine_art_paper.jpg");
padding:10px;
margin:20px;
}
#P2{
background-image:url("http://creativity103.com/collections/Paper/fine_art_paper.jpg");
padding:10px;
margin:20px;
}
#P3{
background-image:url("http://creativity103.com/collections/Paper/fine_art_paper.jpg");
padding:10px;
margin:20px;
}
#link{
color:black;
text-decoration: none;
}
img{
width:500;
background-image:url("http://creativity103.com/collections/Paper/fine_art_paper.jpg");
padding:10px;
margin:20px;
}
p{
font-family : Handlee;
font-size: 17px;
font-weight:500;
}
a{
margin-left:10px;
}
h1{
background-image:url("http://creativity103.com/collections/Paper/fine_art_paper.jpg");
padding:10px;
margin:20px;
font-family:Dancing Script;
color:green;
}
